<div class="row">
    <div class="col-12">

        <table class="table">
            <thead>
                <tr>
                    <th class="table-danger" scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Perfil</th>
                    <th scope="col">Age</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of this.listUsuarios">
                    <th class="table-danger" scope="row">{{usuario.id}}</th>
                    <td>{{usuario.name}}</td>
                    <td>{{usuario.perfil}}</td>
                    <td>{{usuario.age}}</td>
                    <td><button (click)="edit(usuario)" class="btn btn-primary" >Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>